app = "bot-fly-oz-scanner"

[build]
  builder = "paketobuildpacks/builder:base"

[[services]]
  internal_port = 8081
  protocol = "tcp"

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20

  [[services.tcp_checks]]
    grace_period = "5s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"
