app = "bot-fly-oz"
primary_region = "fra"

[build]
  dockerfile = "Dockerfile"

[processes]
  # Запуск FastAPI приложения через uvicorn
  app = "uvicorn main:app --host 0.0.0.0 --port 8000"

[[services]]
  processes = ["app"]
  internal_port = 8000
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [services.concurrency]
    type = "connections"
    soft_limit = 25
    hard_limit = 50

  [services.tcp_checks]
    interval = "10s"
    timeout = "2s"
    grace_period = "5s"
    restart_limit = 0
