app = "bot-fly-b7iqvq"
primary_region = "fra"

[build]
  dockerfile = "Dockerfile"  # ← ВАЖНО: указываем Dockerfile

[[services]]
  http_checks = []
  internal_port = 8000
  protocol = "tcp"

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
